@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

.animate-updown {
  animation: updown 2s ease-in-out infinite;
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px); /* monte */
  }
  100% {
    transform: translateY(0); /* redescend */
  }
}

.animate-avatar {
  animation: avatar 2s ease-in-out infinite;
}

@keyframes avatar {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px); /* monte */
  }
  100% {
    transform: translateX(0); /* redescend */
  }
}

.animate-avatar-y {
  animation: avatar-y 2s ease-in-out infinite;
}

@keyframes avatar-y {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* monte */
  }
  100% {
    transform: translateY(0); /* redescend */
  }
}

.scroller-content {
  display: flex;
  gap: 3rem;
  width: max-content; 
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 25px)); /* Correct */
  }
}

.scroller-content-reverse {
  display: flex;
  gap: 3rem;
  width: max-content; 
  animation: scroll-right 15s linear infinite; /* nom de l'animation */
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%); /* commence à -50% */
  }
  100% {
    transform: translateX(0); /* finit à 0 */
  }
}


